---
version: '3.6'
services:
  elasticsearch_ecommerce_search_sample:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.1
    container_name: elasticsearch_ecommerce_search_sample
    ports: ['9200:9200']
    networks: ['stack']
    volumes:
      - ./es_data:/usr/share/elasticsearch/data
    environment:
      - node.name=elasticsearch_ecommerce_01
      - cluster.initial_master_nodes=elasticsearch_ecommerce_01
      - cluster.name=ecommerce_sample_cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - stack

  kibana_ecommerce_search_sample:
    image: docker.elastic.co/kibana/kibana:7.4.1
    container_name: kibana_ecommerce_search_sample
    ports: ['5601:5601']
    networks: ['stack']
    depends_on: ['elasticsearch_ecommerce_search_sample']
    networks:
      - stack
    environment:
            ELASTICSEARCH_HOSTS: http://elasticsearch_ecommerce_search_sample:9200

networks: {stack: {}}

# use docker volume to persist ES data outside of a container.
volumes:
  es_data:
    driver: local
