/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}*/

.aggregations div.aggregation {
  padding-bottom: 20px;
}

.searchInput {
  padding-bottom: 2em;
}

.searchInput .filters button {
  margin-right: 5px;
}